<h4>There are many existing photo gallery apps around, but none I could find demonstrating the following key technologies:</h4>
<p>
  <ul>
    <li>Built with <%= link_to 'Ruby on Rails', 'http://www.rubyonrails.org/', :target => '_new', :rel => 'nofollow' %></li>
    <li>CSS layout with <%= link_to 'Blueprint CSS', 'http://code.google.com/p/blueprintcss/', :target => '_new', :rel => 'nofollow' %></li>
    <li>Client side scripting with the popular and unobtrusive <%= link_to 'jQuery', 'http://jquery.com/', :target => '_new', :rel => 'nofollow' %></li>
    <li>Lightboxing effects using <%= link_to "Leandro Vieira Pinho's jQuery lightBox", 'http://leandrovieira.com/projects/jquery/lightbox/', :target => '_new', :rel => 'nofollow' %></li>
    <li>Textboxing effects using <%= link_to "Cody Lindley's ThickBox", 'http://jquery.com/demo/thickbox/', :target => '_new', :rel => 'nofollow' %></li>
    <li>Thin controllers with <%= link_to "James Golick's resource_controller", 'http://jamesgolick.com/resource_controller', :target => '_new', :rel => 'nofollow' %></li>
    <li>File uploads and thumbnail generation with <%= link_to "Rick Olson's attachment_fu", 'http://github.com/technoweenie/attachment_fu/wikis', :target => '_new', :rel => 'nofollow' %></li>
    <li>File storage with <%= link_to "Amazon S3", 'http://aws.amazon.com/s3', :target => '_new', :rel => 'nofollow' %></li>
    <li>User Registration with <%= link_to "Rick Olson's restful_authentication", 'http://github.com/technoweenie/restful-authentication/tree/master', :target => '_new', :rel => 'nofollow' %></li>
    <li>Permalinks (SEO) using <%= link_to "Randomba's friendly_id", 'http://github.com/norman/friendly_id', :target => '_new', :rel => 'nofollow' %></li>
    <li>Plugin management for Git with <%= link_to "Cristi Balan's Braid", 'http://github.com/evilchelu/braid/tree/master', :target => '_new', :rel => 'nofollow' %></li>
    <li>Project hosting with <%= link_to "GitHub", 'http://github.com/', :target => '_new', :rel => 'nofollow' %></li>
    <li>Organized nested routes as described in <%= link_to "Regulators!!! Mount up", 'http://giantrobots.thoughtbot.com/2008/7/10/regulators-mount-up', :target => '_new', :rel => 'nofollow' %></li>
  </ul>
</p>