<% if user_logged_in? -%>
  <script type="text/javascript">
    $(function() {
	
    	// binds lightbox to photo clicks
      $('#photos a[@rel*=show]').lightBox();
	
    });
  </script>
  <div class="span-11 first">
    <h3><%= link_to 'Shared Albums &raquo;', albums_path %></h3>
    <ul id="albums">
      <%= render :partial => "albums/album", :collection => @albums %>
    </ul>
  </div>
  <div class="span-10 first">
    <h3><%= link_to 'Shared Photos &raquo;', photos_path %></h3>
    <ul id="photos">
      <%= render :partial => "photos/photo", :collection => @photos %>
    </ul>
  </div>
<% else -%>
  <div class="span-13 first">
    <h3><%= link_to 'Join Now! &raquo;', signup_path %></h3>
    <h4>
      <p>
        If this is your first time here, you can <%= link_to 'sign up for a new account', signup_path %> or use the existing demo / demo account on the right to sign in. Once signed in you can upload and manage your own photo albums and browse other user's albums.
      </p>
      <p>
        This application was built because the many existing open source photo galleries, although great, didn't fit the bill for me from a technology perspective.
      </p>
      <p>
        For more information on the technologies behind this application see the <%= link_to 'about section', about_path %> or <%= link_to 'check out the source', 'http://github.com/rapind/albumdy' %> itself.
      </p>
      <p>
        As a fellow Ruby on Rails developer working on a photo gallery, I hope you find this application useful.
      </p>
    </h4>
  </div>

  <div class="box last" style="float:right;">
    <h3>Sign In</h3>
    <%= render :partial => "sessions/signin" %>
  </div>
<% end -%>