<% form_tag session_path do -%>
  <p>
    <%= text_field_tag 'login', {}, :class => 'text', :value => 'demo' %>&nbsp; <label for="login">Username</label>
  </p>
  <p>
    <%= password_field_tag 'password', {}, :class => 'text', :value => 'demo' %>&nbsp; <label for="password">Password</label>
  </p>
  <p>
    <%= check_box_tag 'remember_me' %> &nbsp;
    <span>
      Keep me logged in on this computer.<br />
      <em>(Not recommended if you are on a public computer)</em>
    </span>
  </p>
  <p class="buttons">
    <button type="submit" class="button positive">
      <%= image_tag 'icons/key.png', :alt => '' %> &nbsp;Sign In &raquo;
    </button>
     or <%= link_to "Forgot your password?", "#{forgot_password_path}?height=200&width=320", :title => 'Password Reset Request', :class => 'thickbox' %>
  </p>
<% end -%>