<h3>Change Password</h3>
<hr>

<% form_for :action => 'change_password' do |f| -%>

  <p>
    <%= f.label(:old_password) %><br />
    <%= password_field_tag 'old_password', @old_password, :class => 'text' %>
  </p>
  
  <p>
    <%= f.label(:new_password) %>
    &nbsp; <small>( Enter a password that is between 4 and 40 characters in length )</small><br />
    <%= password_field_tag 'password', {}, :class => 'text' %>
  </p>
  
  <p>
    <%= f.label(:confirm_new_password) %>
    &nbsp; <small>( Enter the same password as above )</small><br />
    <%= password_field_tag 'password_confirmation', {}, :class => 'text' %>
  </p>
  
  <p class="buttons">
    <button type="submit" class="button positive">
      <%= image_tag 'icons/key.png', :alt => '' %> &nbsp;Change Password
    </button>
  </p>
  
<% end -%>