<% form_for(:user, :url => user_path, :html => { :method => :put }) do |f| %>

  <div class="span-11 first">
  	
  <p>
    <%= f.label(:full_name) %>
    &nbsp; <small>( John Doe )</small><br />
    <%= f.text_field :full_name, :class => 'text', :onfocus => "this.select()" %>
	</p>
	
	<p>
    <%= f.label(:home_phone) %>
    &nbsp; <small>( 416-111-2222 )</small><br />
    <%= f.text_field :home_phone, :class => 'text', :onfocus => "this.select()" %>
	</p>
	
	<p>
    <%= f.label(:mobile_phone) %>
    &nbsp; <small>( 416-222-1111 )</small><br />
    <%= f.text_field :mobile_phone, :class => 'text', :onfocus => "this.select()" %>
	</p>
	
	<p>
    <%= f.label(:address) %>
    &nbsp; <small>( 123 Some St., Toronto, ON, M2T 1J2, Canada )</small><br />
    <%= f.text_area :address %>
	</p>
	
	<p>
    <%= f.label(:web_site_url) %>
    &nbsp; <small>( rapin.com )</small><br />
    <%= f.text_field :web_site_url, :class => 'text', :onfocus => "this.select()" %>
	</p>
	
	<p>
    <%= f.label(:linkedin_username) %>
    &nbsp; <small>( jdoe )</small><br />
    <%= f.text_field :linkedin_username, :class => 'text', :onfocus => "this.select()" %>
	</p>
	
	</div>
	
	<div class="span-11 last">
	  
	  <p>
      <%= f.label(:professional_title) %>
      &nbsp; <small>( Senior Software Architect )</small><br />
      <%= f.text_field :professional_title, :class => 'text', :onfocus => "this.select()" %>
  	</p>
  	
  	<p>
      <%= f.label(:work_summary) %><br />
      <small>( Summarize your professional experience and goals. <%= link_to 'See Examples', '' %> )</small><br />
      <%= f.text_area :work_summary, :class => 'midsize' %>
  	</p>
  	
  	<p>
      <%= f.label(:specialties) %><br />
      <small>( Keywords and technologies you specialize in. <%= link_to 'See Examples', '' %> )</small><br />
      <%= f.text_area :specialties, :class => 'midsize' %>
  	</p>
  	
	</div>
	
	<hr class="space">
  
  <p class="buttons">
    <button type="submit" class="button positive">
      <%= image_tag 'icons/key.png', :alt => '' %> &nbsp;Continue &raquo;
    </button>
  </p>

<% end %>