<h3>Join Now!</h3>
<h4>
  If this is your first time here, you can sign up for a new account below, or use the existing demo / demo account to sign in. Once signed in you can upload and manage your own photo albums and browse other user's albums.
</h4><br />

<%= error_messages_for :user %>
<% form_for :user, :url => users_path  do |f| -%>

  <div class="span-11 first">
    <p>
  	  <%= f.text_field :login, :class => 'text' %> &nbsp; <label for="user_login">Username</label>
  	</p>
  	<p>
  	  <%= f.text_field :email, :class => 'text' %> &nbsp; <%= f.label(:email) %>
  	</p>
  </div>
  
  <div class="span-11 last">
  	<p>
  	  <%= f.password_field :password, :class => 'text' %> &nbsp; <%= f.label(:password) %>
  	</p>
  	<p>
  	  <%= f.password_field :password_confirmation, :class => 'text' %> &nbsp; <%= f.label(:confirm_password) %>
  	</p>
  </div>
  
  <hr class="space">
  
  <p class="buttons">
    <button type="submit" class="button positive">
      <%= image_tag 'icons/key.png', :alt => '' %> &nbsp;Join Now &raquo;
    </button>
  </p>

<% end -%>