<h3>Reset Password</h3>
<hr>

<% form_for :user, :url => {:action => "reset_password"} do |f| %>

  <p>
    <%= f.label(:password) %>
    &nbsp; <small>( Enter a password that is between 4 and 40 characters in length )</small><br />
    <%= f.password_field :password, :class => 'text' %>
	</p>
	
	<p>
    <%= f.label(:confirm_password) %>
    &nbsp; <small>( Enter the same password as above )</small><br />
    <%= f.password_field :password_confirmation, :class => 'text' %>
  </p>
  
  <p class="buttons">
    <button type="submit" class="button positive">
      <%= image_tag 'icons/key.png', :alt => '' %> &nbsp;Reset Password &raquo;
    </button>
  </p>

<% end %>