<p class="buttons">
  <button type="submit" class="button positive">
    <%= image_tag 'icons/key.png' %> <%= action%>
  </button
     
  <a class="button negative" href="<%= collection_url %>">
    <%= image_tag 'icons/cross.png' %> <%= action%> Cancel
  </a>
</p>