<!-- footer -->
<div id="footer">
  <div style="float:left;">
    <p>
      <%= link_to 'Home', '/' %>
      |
      <%= link_to 'About', about_path %>
      |
      <%=link_to 'Terms', terms_path %>
      |
      <%= link_to 'Privacy', privacy_path %>
      |
      <%= link_to 'Feedback', 'http://getsatisfaction.com/albumdy' %>
      |
      <%= link_to 'Source Code', 'http://github.com/rapind/albumdy' %>
    </p>
  </div>
  <div style="float:right;">
    <p>  
      Open Source Photo Gallery by <%= link_to 'Dave Rapin', 'http://www.rapin.com' %>
    </p>
  </div>
</div>