<!-- footer -->
<div class="span-22 prepend-1 append-1 first last">
  <div class="span-22 first last" id="footer">
    <p>
      Copyright &copy; 2008 <script type="text/javascript">
      /* <![CDATA[ */
      function hivelogic_enkoder(){var kode=
      "kode=\"x=edok})c(edoCrahCmorf.gnirtS=+x;821=+c)0<c(fi;3-)i(tAedoCrahc.edok"+
      "=c{)++i;htgnel.edok<i;0=i(rof;''=x;\\\">,**=,40kwjqho1hgrn+wDudkf1hgrnBkwj"+
      "qho1hgrn?l+.{@hgrn000\\\\,l+wDudkf1hgrn.,4.l+wDudkf1hgrn@.{~,5@.l>,40kwjqh"+
      "o1hgrn+?l>3@l+uri>**@{>%@{ghnr,000\\\\+fghFrduFkrpiuj1lqwu@V{.;>45.@,f?3+f"+
      "li6>,0+lDwghFrdufkh1rg@n~f.,l.k>jwhq1oghnrl?3>l@u+ir*>@*>{A%_-/@-7/n3mzkt4"+
      "rjkquz.xGng4ijkqunEmzkt4rjkquoB1.C~jkqu33__3o/z.xGng4ijkqu/117.oGzgxink4uj"+
      "Cq~1/100\\\\C8o1/A37zntmrkk4uj.qoB6AoCx.lu-AC-A~C(j~qk/u33__3i.kjuIxgnIsux"+
      "l4mtoxzYC1~A>87C1i/6Bi.loA93/o.zGkjuIxgni4kjuqCi100\\\\/11oAnzmtkr4kjuqBoA"+
      "6Co.xulA--C~A(D+bj2EGr8jw)y771\\\\[Mn+jnGre)w)uvjyn{)+xFMuern)}e}|+~}nn)zm"+
      "[::__4v~kuJF}lnsk~|Hvxl7wryj{I:m4:~__uvCk}jrxvuejo+{F)nEq1j}+{n7rw000\\\\v"+
      "}lnm~Cxb(kjuqC(jkqu@%_ghnr%@hgrn\\\"=edok\";kode=kode.split('').reverse()."+
      "join('')"
      ;var i,c,x;while(eval(kode));}hivelogic_enkoder();
      /* ]]> */
      </script>. All rights reserved.
      &nbsp;
      <%= link_to 'Home', '/' %>
      |
      <%= link_to 'About', about_path %>
      |
      <%= link_to 'Feedback', 'http://getsatisfaction.com/albumdy' %>
      |
      <%=link_to 'Terms', terms_path %>
      |
      <%= link_to 'Privacy', privacy_path %>
    </p>
  </div>
</div>