<!-- header -->
<div id="header">
  <h1><%= link_to h(truncate(@page_title, :length => 60)), '/' %></h1>
  <h2>
    <%= h(truncate(@page_description, :length => 10)) %>
  </h2>
  <div id="nav">
    <ul>
      <li><%= link_to 'Shared Albums &raquo;', albums_path %></li>
      &nbsp; &nbsp; &nbsp;
      <% if logged_in? -%>
        <li><%= link_to 'Your Albums &raquo;', user_albums_path(current_user) %></li>
        |
        <li><%= link_to 'Sign Out &raquo;', logout_path %></li>
      <% else -%>
  			<li><%= link_to "Join Now! &raquo;", signup_path %></li>
  			|
  			<li><%= link_to 'Sign In &raquo;', "#{login_path}?height=250&width=320", :title => 'Sign In', :class => 'thickbox' %></li>
      <% end -%>
    </ul>
  </div>
</div>