<p>
  <%= f.label(:title, 'Title') %><br />
  <%= f.text_field :title, :class => 'text' %>
</p>
<p>
  <%= f.label(:description, 'Description') %><br />
  <%= f.text_area :description %>
</p>
<%= render :partial => '/shared/buttons', :locals => {:collection_path => collection_path} %>