<script type="text/javascript">    	
	$(document).ready(function(){
	  
	  $('ul.album').galleria({
			history   : true, // activates the history object for bookmarking, back-button etc.
			clickNext : true, // helper for making the image clickable
			insert    : '#main_image', // the containing selector for our main image
			onImage   : function(image,caption,thumb) { // let's add some image effects for demonstration purposes
				
				// fade in the image & caption
				if(! ($.browser.mozilla && navigator.appVersion.indexOf("Win")!=-1) ) { // FF/Win fades large images terribly slow
					image.css('display','none').fadeIn(1000);
				}
				caption.css('display','none').fadeIn(1000);
				
				// fetch the thumbnail container
				var _li = thumb.parents('li');
				
				// fade out inactive thumbnail
				_li.siblings().children('img.selected').fadeTo(500,0.3);
				
				// fade in active thumbnail
				thumb.fadeTo('fast',1).addClass('selected');
				
				// add a title for the clickable image
				image.attr('title','Next image >>');
			},
			onThumb : function(thumb) { // thumbnail effects goes here
				
				// fetch the thumbnail container
				var _li = thumb.parents('li');
				
				// if thumbnail is active, fade all the way.
				var _fadeTo = _li.is('.active') ? '1' : '0.3';
				
				// fade in the thumbnail when finnished loading
				thumb.css({display:'none',opacity:_fadeTo}).fadeIn(1500);
				
				// hover effects
				thumb.hover(
					function() { thumb.fadeTo('fast',1); },
					function() { _li.not('.active').children('img').fadeTo('fast',0.3); } // don't fade out if the parent is active
				)
			}
		});
	
	});
</script>
<h1><%=h @object.title %> &nbsp; <%= link_to "By #{@object.user.login}", user_albums_path(@object.user) %></h1>

<div class="album_container">
  <div id="main_image"></div>
  <ul class="album">
    <% @object.public_photos.each_with_index do |photo, index| -%>
      <li<%= " class='active'" if index == 0 %>><%= link_to image_tag(photo.image.url(:thumb), :size => '50x50', :alt => h(photo.title)), photo.image.url, :title => photo.title %></li>
    <% end -%>
  </ul>
  <p class="nav"><a href="#" onclick="$.galleria.prev(); return false;">&laquo; previous</a> | <a href="#" onclick="$.galleria.next(); return false;">next &raquo;</a></p>
</div>
<div class="info">
  <h2><%= h @object.title %></h2>
  <p>
    <%=h @object.description %> &nbsp; <%= link_to "More Photo Albums from #{@object.user.login} &raquo;", user_albums_path(@object.user) %>
  </p>
</div>