<%= h @album.name %>

<p>
  <%= link_to 'Edit', edit_album_path(@album) %> | <%= link_to 'Remove', @album, :confirm => "Are you sure?", :method => :delete %>
</p>


<% if @album.photos -%>

  <div class="section">
    Roll over and click right side of image to move forward. Alternatively you can press the right arrow key.
    Press Esc to close. You can also click on the close button.


  	<% for photo in @album.photos -%>
  	  <div class="thumbnail">
  	    <%= link_to image_tag(photo.public_filename(:thumb), :alt => photo.title, :title => photo.title), photo.public_filename, :title => photo.title, :rel => "lightbox[photos]" %>	
  	    <div>
  	      <%= link_to 'Delete Photo', album_photo_url(@album, photo), :confirm => 'Are you sure?', :method => :delete %>
  	    </div>
  	  </div>
	
  	<% end -%>
	
  </div>

<% end -%>

<%= link_to "Back", albums_path %>