<p>
  <%= f.label :title %><br />
  <%= f.text_field :title, :class => 'text' %>
</p>
<p>
  <%= f.label :description %><br />
  <%= f.text_area :description %>
</p>

<%= render :partial => '/shared/buttons', :locals => {:action => action, :collection_url => manage_albums_path} %>