<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-US">
<head>
<title><%= @page_title || 'Al Bumdy' %></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<%= stylesheet_link_tag 'blueprint/screen', 'buttons/screen', 'jquery.lightbox-0.5.css', 'application', :media => 'screen, projection' %>
<%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>
<!--[if IE]><%= stylesheet_link_tag 'blueprint/ie', :media => 'screen, projection' %><![endif]-->
<%= javascript_include_tag 'jquery-1.2.6.min.js', 'jquery.lightbox-0.5.min.js', 'application' %>
</head>

<body>
  <div class="container">
		<% flash.each do |key,value| %>
  		<div id="flash" class="flash_<%= key %>">
  			<span class="message"><%= value %></span>
  		</div>
		<% end -%>
		<%= yield :layout %>
  </div>
</body>

</html>