<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-US">
<head>
<meta name="verify-v1" content="st18OsL2TuSSc+4XLSSm8v8C3PN4rqb2awrVdoR+BxE=" />
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta name="Keywords" content="<%= h @page_keywords %>" />
<meta name="Description" content="<%= h @page_description %>" />
<link rel="alternate" type="application/rss+xml" title="Albumdy Photo Albums" href="<%= formatted_albums_url(:rss) %>" />
<meta name="revisit-after" content="3 days" />
<meta name="robots" content="index, follow" />
<title><%= h @page_title %></title>
<%= stylesheet_link_tag 'screen', 'buttons', 'thickbox', 'application', 'themes/blue-orange', :media => 'screen, projection' %>
<!--[if IE]><%= stylesheet_link_tag 'ie', :media => 'screen, projection' %><![endif]-->
<%= javascript_include_tag 'jquery-1.2.6.min.js', 'jquery-ui-personalized-1.5.2.min.js', 'thickbox', 'application' %>
</head>

<body>
  <div class="container">
    
    <%= render :partial => "shared/header" %>
    
    <%= render :partial => "shared/messages" %>
    
  	<!-- content -->
    <div id="content">
      <%= yield :layout %>
    </div>
  
    <%= render :partial => "shared/footer" %>
		
  </div>
  
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    var pageTracker = _gat._getTracker("UA-2450369-18");
    pageTracker._trackPageview();
  </script>
</body>

</html>